* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  margin: 0;
}

.breed-select {
  max-width: 400px;
  margin: auto;
}

.cat-info {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.box {
  max-width: 500px;
}

.loader {
  margin-left: 650px;
  margin-top: 20px;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #6acfea #6acfea transparent #6acfea;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #6acfea;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
